.header {
  background-image: url("../../img/header-background.png");
  background-repeat: no-repeat;
  background-size: cover, 788px;
  background-position: calc(50%) 0px;
  padding-bottom: 600px;
}

.header__box {
  @include flexStyle(center, flex-start);
  padding-top: 30px;
}

  .header__logo-link {
    margin-right: 70px;
  }

  .header-navbar__list {
    @extend %list-no-style;
    @include flexStyle(center, flex-start);
  }

  .header-navbar__item ~ .header-navbar__item {
    margin-left: 30px;
  }

  .header-navbar__link {
    @include linkStyle(none, 18px, $whiteColor);
    font-family: "Paytone One" sans-serif;
    font-weight: 400;
    font-size: 18px;
  }

